@model MachinesApp.Models.AddNewEmployee
@{
    ViewBag.Title = "Dodaj nowego pracownika";
}

<h2>@TempData["Sukces"]</h2>
<h2>@TempData["Komunikat"]</h2>
<h2>Formularz dodawania pracownika</h2>

<!-- Kazdy formularz poprzedzamy metoda using  + nazwa metody w kontrolerze + nazwa kontrolera w którym znajduje się metoda oraz nazwa metody formularowej FormMethod...-->
@using (Html.BeginForm("AddNewEmployee", "Employee", FormMethod.Post))
{



    <div class="form-group">
        <label>Imie</label>
        @Html.TextBoxFor(x => x.First_Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.First_Name)
    </div>
    <div class="form-group">
        <label>Nazwisko</label>
        @Html.TextBoxFor(x => x.Last_Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Last_Name)
    </div>
    <div class="form-group">
        <label>Dział</label>
        @Html.TextBoxFor(x => x.Dept, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Dept)
    </div>
    <div class="form-group">
        <label>Stanowisko</label>
        @Html.TextBoxFor(x => x.Position, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Position)
    </div>
    <div class="form-group">
        <label>Adres email</label>
        @Html.TextBoxFor(x => x.Email_Adress, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Email_Adress)
    </div>
    <div class="form-group">
        <label>Numer telefonu</label>
        @Html.TextBoxFor(x => x.Phone_Number, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Phone_Number)
    </div>



            <button type="submit"> Wyślij formularz </button> <!-- Submit button-->
            }
